Repository modelcontextprotocol/rust-sdk, pull requests merged in 2025-06, with the labels that each got.

#267 fix(github): add required permission to create labels
  .github/workflows/auto-label-pr.yml
Labels: T-CI, T-config

#265 sse: fix regression in URL joining
  crates/rmcp/src/transport/sse_client.rs
Labels: T-core, T-transport

#273 docs: fix broken links in examples readme
  examples/README.md
Labels: T-documentation, T-examples

#261 refactor: refactor tool macros and router implementation
  README.md
  crates/rmcp-macros/Cargo.toml
  crates/rmcp-macros/README.md
  crates/rmcp-macros/src/lib.rs
  crates/rmcp-macros/src/tool.rs
  crates/rmcp-macros/src/tool_handler.rs
  crates/rmcp-macros/src/tool_router.rs
  crates/rmcp/Cargo.toml
  crates/rmcp/README.md
  crates/rmcp/src/handler/server.rs
  crates/rmcp/src/handler/server/router.rs
  crates/rmcp/src/handler/server/router/prompt.rs
  crates/rmcp/src/handler/server/router/tool.rs
  crates/rmcp/src/handler/server/tool.rs
  crates/rmcp/src/lib.rs
  crates/rmcp/src/model.rs
  crates/rmcp/tests/common/calculator.rs
  crates/rmcp/tests/test_complex_schema.rs
  crates/rmcp/tests/test_tool_macro_annotations.rs
  crates/rmcp/tests/test_tool_macros.rs
  crates/rmcp/tests/test_tool_routers.rs
  crates/rmcp/tests/test_with_js.rs
  docs/CONTRIBUTE.MD
  docs/readme/README.zh-cn.md
  examples/servers/src/common/calculator.rs
  examples/servers/src/common/counter.rs
  examples/servers/src/common/generic_service.rs
  examples/transport/src/common/calculator.rs
  examples/transport/src/http_upgrade.rs
  examples/transport/src/tcp.rs
  examples/transport/src/unix_socket.rs
  examples/transport/src/websocket.rs
  examples/wasi/src/calculator.rs
  examples/wasi/src/lib.rs
  justfile
Labels: T-documentation, T-dependencies, T-test, T-config, T-core, T-examples, T-handler, T-macros

#279 fix: let users decide what to wrap in child process command
  crates/rmcp/src/transport/child_process.rs
Labels: T-core, T-transport

#281 chore: cov settings, and fix serveral building warnings
  crates/rmcp/src/transport/common/client_side_sse.rs
  crates/rmcp/src/transport/common/server_side_http.rs
  crates/rmcp/tests/test_with_python.rs
  crates/rmcp/tests/test_with_python/.gitignore
  crates/rmcp/tests/test_with_python/pyproject.toml
  crates/rmcp/tests/test_with_python/server.py
  docs/CONTRIBUTE.MD
  justfile
Labels: T-documentation, T-dependencies, T-test, T-config, T-core, T-transport

#284 docs: add clearer annotations in model.rs
  crates/rmcp/src/model.rs
Labels: T-core

#287 docs: fix grammar in oauth usage steps
  docs/OAUTH_SUPPORT.md
Labels: T-documentation

#289 example: add sampling example and test
  .gitignore
  crates/rmcp/tests/test_sampling.rs
  examples/clients/Cargo.toml
  examples/clients/README.md
  examples/clients/src/collection.rs
  examples/clients/src/everything_stdio.rs
  examples/clients/src/git_stdio.rs
  examples/clients/src/sampling_stdio.rs
  examples/servers/Cargo.toml
  examples/servers/src/sampling_stdio.rs
Labels: T-documentation, T-dependencies, T-test, T-config, T-examples
