Repository modelcontextprotocol/rust-sdk, pull requests merged in 2025-07, with the labels that each got.

#298 fix: Cargo.toml cleanup
  examples/clients/Cargo.toml
  examples/rig-integration/Cargo.toml
  examples/servers/Cargo.toml
  examples/simple-chat-client/Cargo.toml
  examples/transport/Cargo.toml
  examples/wasi/Cargo.toml
Labels: T-dependencies, T-config, T-examples

#296 Add Streamable HTTP section in some example configs
  examples/rig-integration/Cargo.toml
  examples/rig-integration/src/config/mcp.rs
  examples/simple-chat-client/Cargo.toml
  examples/simple-chat-client/src/config.rs
Labels: T-dependencies, T-config, T-examples

#305 feat(transport): expose child process stderr
  crates/rmcp/src/transport/child_process.rs
  crates/rmcp/tests/test_with_python.rs
  crates/rmcp/tests/test_with_python/server.py
Labels: T-test, T-core, T-transport

#324 fix(examples): Prevent transport from closing due to premature client drop
  examples/simple-chat-client/src/bin/simple_chat.rs
  examples/simple-chat-client/src/tool.rs
Labels: T-examples

#331 fix: return a 405 for GET and DELETE if non stateful streamable http
  crates/rmcp/src/transport/streamable_http_server/tower.rs
Labels: T-core, T-transport

#339 Fix MCP specification compliance: Use mimeType instead of mime_type
  crates/rmcp/src/model/content.rs
  crates/rmcp/src/model/prompt.rs
  crates/rmcp/src/model/resource.rs
  crates/rmcp/tests/test_message_schema/client_json_rpc_message_schema.json
  crates/rmcp/tests/test_message_schema/server_json_rpc_message_schema.json
Labels: T-test, T-config, T-core, T-model

#341 schema: do not serialize None as null for `list_changed`
  crates/rmcp/src/model/capabilities.rs
Labels: T-core, T-model

#343 fix(prompt): remove unused code.
  crates/rmcp/src/model/prompt.rs
Labels: T-core, T-model
