Repository modelcontextprotocol/rust-sdk, pull requests merged in 2025-08, with the labels that each got.

#348 docs: fix missing README.md codeblock terminator
  crates/rmcp-macros/README.md
Labels: T-documentation, T-macros

#353 fix: don't wrap errors in streamable http auth client
  crates/rmcp/src/transport/common/auth/streamable_http_client.rs
Labels: T-core, T-transport

#370 feat(github): add fetch document instructions for llms.
  .github/instructions/fetch-mcp-doc.instructions.md
Labels: T-documentation, T-CI

#373 doc(streamable): add document for extracting http info
  crates/rmcp/src/transport/streamable_http_server/tower.rs
Labels: T-core, T-transport

#377 Match the shape of `CallToolResult` schema
  crates/rmcp/src/model.rs
  crates/rmcp/tests/test_message_schema/server_json_rpc_message_schema.json
  crates/rmcp/tests/test_structured_output.rs
  crates/rmcp/tests/test_tool_macros.rs
  examples/simple-chat-client/src/chat.rs
Labels: T-test, T-config, T-core, T-examples

#376 Include reqwest in transport-streamble-http-client feature
  crates/rmcp/Cargo.toml
  crates/rmcp/README.md
  crates/rmcp/src/transport/common/reqwest.rs
  crates/rmcp/src/transport/common/reqwest/sse_client.rs
  crates/rmcp/src/transport/common/reqwest/streamable_http_client.rs
  crates/rmcp/src/transport/sse_client.rs
  crates/rmcp/src/transport/streamable_http_client.rs
  examples/clients/Cargo.toml
  examples/rig-integration/Cargo.toml
  examples/simple-chat-client/Cargo.toml
Labels: T-documentation, T-dependencies, T-config, T-core, T-examples, T-transport

#383 license: clarify MIT license in Cargo.toml
  Cargo.toml
Labels: T-dependencies, T-config

#351 feat: Add prompt support
  .gitignore
  crates/rmcp-macros/src/common.rs
  crates/rmcp-macros/src/lib.rs
  crates/rmcp-macros/src/prompt.rs
  crates/rmcp-macros/src/prompt_handler.rs
  crates/rmcp-macros/src/prompt_router.rs
  crates/rmcp-macros/src/tool.rs
  crates/rmcp/Cargo.toml
  crates/rmcp/src/handler/server.rs
  crates/rmcp/src/handler/server/common.rs
  crates/rmcp/src/handler/server/prompt.rs
  crates/rmcp/src/handler/server/router.rs
  crates/rmcp/src/handler/server/router/prompt.rs
  crates/rmcp/src/handler/server/tool.rs
  crates/rmcp/src/handler/server/wrapper.rs
  crates/rmcp/src/handler/server/wrapper/json.rs
  crates/rmcp/src/handler/server/wrapper/parameters.rs
  crates/rmcp/src/lib.rs
  crates/rmcp/src/service.rs
  crates/rmcp/tests/common/calculator.rs
  crates/rmcp/tests/test_complex_schema.rs
  crates/rmcp/tests/test_progress_subscriber.rs
  crates/rmcp/tests/test_prompt_handler.rs
  crates/rmcp/tests/test_prompt_macro_annotations.rs
  crates/rmcp/tests/test_prompt_macros.rs
  crates/rmcp/tests/test_prompt_routers.rs
  crates/rmcp/tests/test_structured_output.rs
  crates/rmcp/tests/test_tool_macros.rs
  crates/rmcp/tests/test_tool_routers.rs
  crates/rmcp/tests/test_with_python/.gitignore
  examples/servers/Cargo.toml
  examples/servers/README.md
  examples/servers/src/common/calculator.rs
  examples/servers/src/common/counter.rs
  examples/servers/src/common/generic_service.rs
  examples/servers/src/elicitation_stdio.rs
  examples/servers/src/prompt_stdio.rs
  examples/servers/src/structured_output.rs
  examples/transport/src/common/calculator.rs
  examples/wasi/src/calculator.rs
Labels: T-documentation, T-dependencies, T-test, T-config, T-core, T-examples, T-handler, T-macros

#385 fix(macros): Allow `#[tool]` to work even if Future is not in scope
  crates/rmcp-macros/src/prompt.rs
  crates/rmcp-macros/src/tool.rs
Labels: T-macros

#392 fix: enhance transport graceful shutdown with proper writer closure
  crates/rmcp/src/transport/async_rw.rs
  crates/rmcp/src/transport/child_process.rs
Labels: T-core, T-transport

#391 Expose client method name
  crates/rmcp/src/model.rs
Labels: T-core

#402 fix(auth): url parse is not correct
  crates/rmcp/src/transport/auth.rs
Labels: T-core, T-transport
