Repository modelcontextprotocol/rust-sdk, pull requests merged in 2025-09, with the labels that each got.

#406 docs: add the rmcp-openapi and rmcp-actix-web related projects
  README.md
Labels: T-documentation

#386 feat(rmcp): add optional _meta to CallToolResult, EmbeddedResource, and ResourceContents
  crates/rmcp/src/model.rs
  crates/rmcp/src/model/content.rs
  crates/rmcp/src/model/meta.rs
  crates/rmcp/src/model/prompt.rs
  crates/rmcp/src/model/resource.rs
  crates/rmcp/tests/test_embedded_resource_meta.rs
  crates/rmcp/tests/test_message_schema/client_json_rpc_message_schema.json
  crates/rmcp/tests/test_message_schema/client_json_rpc_message_schema_current.json
  crates/rmcp/tests/test_message_schema/server_json_rpc_message_schema.json
  crates/rmcp/tests/test_message_schema/server_json_rpc_message_schema_current.json
  crates/rmcp/tests/test_tool_result_meta.rs
Labels: T-test, T-config, T-core, T-model

#413 fix: resolve compatibility issues with servers sending LSP notifications
  crates/rmcp/src/transport/async_rw.rs
Labels: T-core, T-transport

#422 docs: add nvim-mcp project built by rmcp
  README.md
Labels: T-documentation

#425 fix: generate simple {} schema for tools with no parameters
  crates/rmcp-macros/src/tool.rs
  crates/rmcp/tests/test_tool_macros.rs
Labels: T-test, T-macros

#396 feat: implement context-aware completion (MCP 2025-06-18)
  crates/rmcp/src/handler/server.rs
  crates/rmcp/src/model.rs
  crates/rmcp/src/service/client.rs
  crates/rmcp/tests/test_completion.rs
  crates/rmcp/tests/test_message_schema/client_json_rpc_message_schema.json
  examples/servers/Cargo.toml
  examples/servers/src/completion_stdio.rs
Labels: T-dependencies, T-test, T-config, T-core, T-examples, T-handler, T-service

#421 Skip notification in initialization handshake
  crates/rmcp/src/service/client.rs
Labels: T-core, T-service

#429 fix:crates/rmcp/src/handler/client/progress.rs dispacher-> dispatcher
  .gitignore
  crates/rmcp/src/handler/client/progress.rs
Labels: T-core, T-handler

#441 bugfix: Non-empty paths in OAuth2 Authorization Server Metadata URLs
  crates/rmcp/src/transport/auth.rs
Labels: T-core, T-transport

#437 Add Terminator to Built with rmcp section
  README.md
Labels: T-documentation

#443 fix(oauth): do not treat empty secret as valid for public clients
  crates/rmcp/src/transport/auth.rs
Labels: T-core, T-transport

#452 chore: release v0.7.0
  Cargo.toml
  crates/rmcp-macros/CHANGELOG.md
  crates/rmcp/CHANGELOG.md
  examples/clients/Cargo.toml
  rust-toolchain.toml
Labels: T-documentation, T-dependencies, T-config, T-examples, T-macros

#446 fix: generate default schema for tools with no params
  crates/rmcp-macros/src/tool.rs
  crates/rmcp/tests/test_tool_macros.rs
Labels: T-test, T-macros

#459 auth: support well-known paths at domain root, with prefix path, and with suffix path
  crates/rmcp/src/transport/auth.rs
Labels: T-core, T-transport
